.slack-hide-panes .p-classic_nav .p-classic_nav__team_header {
  display: none;
}

.slack-hide-panes .p-workspace--context-pane-collapsed {
  grid-template-columns: 0 auto;
}

.slack-hide-panes .p-workspace--classic-nav .p-workspace__sidebar {
  display: none;
}

.slack-hide-panes .p-workspace__top_nav {
  display: none;
}
